on: [push, pull_request]
name: Promise test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.12.x, 1.13.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Run test
      run: |
       go test ./... -v -coverprofile .testCoverage.txt
       go tool cover -func=.testCoverage.txt